<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>pilih bahasa</title>
</head>
 <body class="bg-blue-700">
   <div class="mt-10">
     <div class="text-white text-center text-3xl mb-2 my-4 font-semibold mt-10">SILAHKAN MASUKAN KARTU ANDA</div>\
      <div class="w-6/12 h-px bg-white mx-auto "></div>
      <div class="mt-10">
        <div class="text-white text-center text-3xl font-semibold">PLEASE INSERT YOUR CARD</div>
      </div>
      <div class="text-right mr-12 mt-20">
        <a href="pin.html">
          <div class="text-white text-3xl font-semibold">INDONESIA -></div>
        </a>
      <div class="text-right mr-12 mt-20 h-px"></div>
      <a href="pinjepang.html">
      <div class="text-white text-3xl font-semibold">RUSIA -></div>
      </div></a>
      <div class="mt-10">
        <h1 class="mb-8 text-white text-3xl font-semibold text-center ">TO OBTAIN CARD PRESS CANCEL</h1>
        <div class="w-6/12 h-px bg-white mx-auto "></div>
      </div>
      <div class="mt-10">
        <div class="text-white text-center text-3xl font-semibold">PLEASE INSERT YOUR CARD</div>
      </div>
 </body> 
 